<meta charset="UTF-8">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">

<div class="container">
  <div class="page-header">
    <h1 id="timeline-title">The HomeHubr Process</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <strong><h4 class="timeline-title text-center">We Locate Sellers</h4></strong>
        </div>
        <div class="timeline-body text-center">
          <p>Instead of utilizing the typical realtor route; sellers list their properties in hopes of getting a faster offer </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title text-center">Pay a Nominal Fee </h4>
        </div>
        <div class="timeline-body text-center">
          <p>HomeHubr charges a nominal fee which allows buyers to connect with the seller.  We will never charge to list the property.
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title text-center">Keep Your Profits</h4>
        </div>
        <div class="timeline-body text-center">
          <p>We will never take a percentage of the sell. Once we connect the buyer to the seller, we will never ask for another payment. </p>
        </div>
      </div>
    </li>
  </ul>
</div>