
        <div class="row">
        	<div class="col-md-4 col-sm-12">
        	<br><br><br>
			<a href="http://localhost:3000/search?utf8=✓&search=Houston">
				<div class="discovery-card daniel-img"></div>

			</a>
		</div>
            <div class="col-md-8">
                   	<h1 id="timeline">Our Story</h1>
                   	<h2 class = "description">
                   	HomeHubr is simply designed to empower sellers who chose to utilize alternative methods to sell their property.  Our method is simple, we keep some of the property informaiton opaque until the buyer purchases the rights to learn more about the property.  This is our way of ensuring the seller is only contacted by serious investors/buyers.  
                   <h2>
                   <h2 class="description">
                     	After attending a wholesale real estate conference, Daniel Cleaves quickly identified a massive opportunity existing in the market.  With his sharp business acumen, Daniel wanted to create an innovative product that addressed and fixed the gap that were plaguing many sellers and investors.
                   </h2>
                   <h2 class = "description">
                   		Daniel is no stranger to business; having started his first business at 18, he has went on to created a number of other businesses.  His latest venture being a business coaching firm in South Houston, in which his partner and him were able to impact over 100+ business small to medium sized business owners.
                   </h2>
            </div> 
        
	</div>
